/*
Core
*/

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

body {
  background: #0F0F0F;
  background-image: url(/assets/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lato';
  font-weight: 400;
  line-height: 1.25;
  color: #fff;
  margin: 0;
}

.wrapper {
  position: relative;
}

.iconlist {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    a {
      color: #fff;
      opacity: .5;
      padding: 0 .5rem;

      &:hover {
        opacity: 1;
      }
    }
  }
}

/*
 Typography
*/

@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
  font-family: 'Kraftstoff';
  src: url('/assets/fonts/kraftstoff-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/kraftstoff-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/kraftstoff-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/kraftstoff-regular-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.text {
  
  &--center {
    text-align: center !important;
  }
}

.hero {

  &--title {
    font-family: 'Kraftstoff';
    font-size: 3rem;
    font-weight: 400;
    margin: 1rem 0 0 0;
  }

  &--band {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: .9rem;
    font-weight: 400;
    font-family: 'Kraftstoff';
  }
}

/*
Full height hero
*/
@supports (display: flex) {
  .topHero--full {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center
  }
}