doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Casa de Conspiratii
    meta(name="description" content="Casa de Conspiratii - Official Website")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/assets/css/style.css")

  body
    include /includes/symbols.svg

    //- Header
    header

    //- Content
    .mainContent
      .container
        img(src="/assets/img/logo.svg" width="125" height="125" alt="Casa de conspiratii logo")
        h1.hero--title CEA MAI NECUNOSCUTA TRUPA DE RAP DIN ROMANIA
        p Lansam in curand noul site. Stay tuned!
        ul.iconlist
          li
            a(href='https://www.facebook.com/CasadeConspiratii/')
              svg(width="20" height="20")
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook")
          li
            a(href='https://www.instagram.com/casadeconspiratii/')
              svg(width="20" height="20")
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram")
          li
            a(href='https://www.youtube.com/channel/UCX3uz3inrbu2qWAdieRWCIw')
              svg(width="20" height="20")
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#youtube")

    //- Footer
    footer