doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Casa de Conspiratii
    meta(name="description" content="Casa de Conspiratii - Official Website")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/assets/css/style.css")

  body
    include /includes/symbols.svg

    .wrapper
      //- Header
      header.mainHeader
        include /sections/header.pug

      .divider
        svg(width="10")
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#divider")

      //- Content
      .mainContent

        //- Videos
        include /sections/videos.pug

        .divider
          svg(width="10")
            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#divider")

    //- Footer
    footer
      script(src='/assets/js/vendor/jquery-3.2.1.js')
      script(src='/assets/js/vendor/jquery.mousewheel.js')
      script(src='/assets/js/main.js')