doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Casa de Conspiratii
    meta(name="description" content="Casa de Conspiratii - Official Website")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/assets/css/style.css")

  body
    include /includes/symbols.svg

    .wrapper
      //- Header
      header.mainHeader
        include /layout/header.pug

      .divider
        svg(width="10")
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#divider")

      //- Content
      section.section
        .container
          img(src="/assets/img/logo.svg" width="125" height="125" alt="Casa de conspiratii logo")
          h1.hero--title Heading
          p Paragraph

      section.section
        .container
          img(src="/assets/img/logo.svg" width="125" height="125" alt="Casa de conspiratii logo")
          h1 Heading
          p Paragraph

    //- Footer
    footer
      script(src='/assets/js/vendor/jquery-3.2.1.js')
      script(src='/assets/js/vendor/jquery.mousewheel.js')
      script(src='/assets/js/main.js')