/*
Header
*/

.mainNav {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: auto;
  width: 100%;
  z-index: 2;
  background-color: map-get($color, black);
  padding: 1rem;
  box-shadow: 0px 0 35px 5px rgba(0,0,0,.5);

  &__hamburger {
    margin-left: auto;
    align-self: center;

    a {
      padding: .5rem;
    }
  }

  &__list {
    display: none;
    justify-content: flex-end;
    margin-top: auto;
    align-self: center;

    &--item {

      &:not(:last-of-type) {
        margin: .5rem 0;
      }

      a {
        color: rgba(255,255,255,0.5);

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.profile {
  position: relative;
  text-align: center;

  &__bio {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 3rem;
  }

  &:hover {
    .profile__bio {
      opacity: 1;
    }

    img {
      opacity: .5;
    }
  }
}

@media screen and (min-width: 768px) {

  .mainNav {
    height: 100%;
    width: auto;
    flex-direction: column;

    &__hamburger {
      margin-top: auto;
      margin-left: 0;
      text-align: center;
      align-items: center;
      align-self: initial;
    }

    &__list {
      display: block;
    }
  }
}