/*
Layout
*/

.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  display: block;
  width: initial;
}

.section {
  width: calc(100vw - 86px);
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;

  &:first-of-type {
    margin-left: 86px;
  }
}

.divider {
  width: 10px;
  height: 100vh;
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000;
    padding: 1.25rem 0;
  }

  &::before {
    content: "";
    width: 1px;
    background-color: #fff;
    height: 50%;
    left: 50%;
    top: 0;
    position: absolute;
    z-index: -1;
  }

  &::after {
    content: "";
    width: 1px;
    background-color: #fff;
    height: 50%;
    left: 50%;
    bottom: 0;
    position: absolute;
    z-index: -1;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 300%;
    display: flex;
  }
}
